@model OnlineShop.Models.KhachHang
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TruyVan1DoiTuong</title>
</head>
<body>
    <div> 
        @Model.TenKH
        @Model.Email
    </div>
</body>
</html>
