@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Layout/Online_LayoutPage.cshtml";
}

<h2>hello</h2>
<!--<html>
<head>
    
    <title>Meetup Signin Form Flat Responsive Widget Template : W3layouts</title>

    <!-- Meta-Tags -->
    <!--<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>-->
    <!-- style CSS -->
    <!--<link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all">-->

    <!-- fontawesome -->
    <!--<link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css" media="all">-->

    <!-- google fonts -->
    <!--<link href="//fonts.googleapis.com/css?family=Mukta:300,400,500" rel="stylesheet">

</head>-->
<!-- //Head -->
<!-- Body -->
<!--<body>
    <input type="button" value="Đăng nhập" id="btnDangNhap"/>-->
    @*Tạo 1 div bên ngoài bao phủ form login*@
    <!--<div id="popup_login">
        <section class="main">
            <div class="bottom-grid">
                <div class="logo">
                    <h1> <a href="index.html"> Meetup Signin form</a></h1>
                </div>
            </div>
            <div class="content-w3ls">
                <div class="text-center icon">
                    <span class="fa fa-meetup"></span>
                </div>

                <div class="content-bottom">
                    <form action="#" method="post">
                        <div class="field-group">
                            <span class="fa fa-user" aria-hidden="true"></span>
                            <div class="wthree-field">
                                <input name="text1" id="text1" type="text" value="" placeholder="Username" required>
                            </div>
                        </div>
                        <div class="field-group">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                            <div class="wthree-field">
                                <input name="password" id="myInput" type="Password" placeholder="Password">
                            </div>
                        </div>
                        <div class="wthree-field">
                            <button type="submit" class="btn">Sign in</button>
                        </div>
                        <ul class="list-login">
                            <li class="switch-agileits">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                    keep Logged in
                                </label>
                            </li>
                            <li>
                                <a href="#" class="text-right">forgot password?</a>
                            </li>
                            <li class="clearfix"></li>
                        </ul>
                        <ul class="list-login-bottom">
                            <li class="">
                                <a href="#url" class="">Create Account</a>
                            </li>
                            <li class="">
                                <a href="#url" class="text-right">Need Help?</a>
                            </li>
                            <li class="clearfix"></li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="copyright">
                <p>© 2020 Meetup signin form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a> </p>
            </div>
        </section>
    </div>
</body>-->
<!-- //Body -->
<!--</html>

<style>
    #popup_login{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:99;
        display:none;
    }
    #btnDangNhap{
        margin-top:50px;
        background-color:red;
    }
</style>-->

@*Sử dụng Jquery*@
@*<script type="text/javascript">
    $("#btnDangNhap").click(function () {
        $("#popup_login").show();
    });
</script>-->*@




