@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Content">
    <div class="row">
        <div class="col-md-2">
            <div class="logo">a</div>
        </div>
        <div class="col-md-2">
            <div class="logo">b</div>
        </div>
        <div class="col-md-2">
            <div class="logo">c</div>
        </div>
        <div class="col-md-2">
            <div class="logo">d</div>
        </div>
        <div class="col-md-2">
            <div class="logo">e</div>
        </div>
        <div class="col-md-2">
            <div class="logo">f</div>
        </div>
    </div>
</div>

@*Css*@
<style>
    .Content {
        height: 500px;
    }

    .logo {
        height: 100px;
        background-color: dodgerblue;
    }
</style>
